$font_family: Roboto, 'Open Sans', sans-serif;
$font_size: 14px;
$img: "../img/";
$icons: $img + "icons/";

$color_font: #5c5c5c;
$color_blue: #5aaef2;
$color_blue_dark: #4a90e2;
$color_purple: #ff4081;
$color_button_red: #de3226;
$color_border: #c4c4c4;
$color_button_green: #8dbc39;

$screenSmWidth: 768px;
$screenMdWidth: 992px;
$screenLgWidth: 1200px;
